* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;

  font-family: "Open Sans", sans-serif;
}

.container {
  text-align: center;
  width: 59.2rem;
  margin: 0 auto;
}

main h1 {
  font-family: "Inter", sans-serif;

  margin: 7.2rem 0rem 3.2rem;
}

footer {
  margin: 7.2rem 0rem 3.2rem;
}
