* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --span-color: #ff9900;
  --paragraph-color: #7d7987;
  --line-color: #eceff2;
}

body {
  font-size: 1.6rem;

  font-family: "Open Sans", sans-serif;
}

.container {
  text-align: center;
  width: 59.2rem;
  margin: 0 auto;
}

span {
  color: var(--span-color);
}

main h1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 4.9rem;
  line-height: 5.6rem;

  margin: 7.2rem 0rem 3.2rem;
}

main h1 span {
  font-weight: 700;
}

main p {
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: var(--paragraph-color);
}

footer {
  width: 56.8rem;
  margin: 7.2rem auto 3.2rem;
  padding-top: 1rem;
  border-top: 1px solid var(--line-color);

  font-size: 14px;
  line-height: 28px;

  display: flex;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}

footer a {
  color: var(--span-color);
}
